// @import "font-awesome/css/font-awesome.min.css";
html{
  font-size:100px;
}

body {
  margin: 0;
  font-size: 0.14rem;
}

html, body{
}

.clearfix:after{content:" "; clear:both; height:0; visibility:hidden; display:block;}
.clearfix{*zoom:1;}

div, ul, li, ol, p, h1, h2, h3, h4, h5, h6, dl, dt, dd{
  margin: 0; padding: 0;
  font-size: 0.14rem;
}
ul, li{
  list-style: none;
}

a{
  text-decoration: none;
}

.van-toast__text{
  font-size: 0.4rem;
}
.van-slider__button{
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%) !important;
}